includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Providers/FreeSwitchEslServiceProvider.php
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
